.title {
    font-weight: bold;
    font-style: 36px;
    line-height: 60px;
    &_fz16 {
        font-style: 16px;
        line-height: 24px;
        color: #fff;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
        color: black;
    }
    &_fz36 {
        font-size: 36px;
        line-height: 60px;
        color: #fff;
    }
    &_fz48 {
        font-size: 48px;
        line-height: 60px;
        color: #fff;
    }
    &__section-title {
        position: relative;
        margin-top: 126px;
        color: #000000;
        text-align: center;
        @include before_circle;
        &:before {
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        color: #000000;
        text-align: center;
    }
}