.title {
    font-weight: bold;
    font-style: 36px;
    line-height: 60px;
    &_fz16 {
        font-style: 16px;
        line-height: 24px;
        color: #fff;
    }
    &_fz36 {
        font-size: 36px;
        line-height: 60px;
        color: #fff;
    }
    &_fz48 {
        font-size: 48px;
        line-height: 60px;
        color: #fff;
    }
}